{% extends "layout.html" %}
{% block body_content %}
<h3>Album ID {{album.album_id}} belongs to:</h3>
<div class="error_message">{{message}}</div>
<div>
    <table>
       <tr>
           <th>Album Name</th>
           <th>Album Year</th>
       </tr>
        {% if album_id < 100 %}
        <tr>
           <td>{{album.album_name}}</td>
            <td>{{album.album_year}}</td>
        </tr>
        {% endif %}
    </table>
</div>
{% endblock %}
{% block footer_content %}
<footer>
     &copy; 2023 Team 3
</footer>
{% endblock %}